.btn {
    border: none;
    border-radius: 9px;
    background-color: #1971c2;
    color: #e8f1f9;
    padding: 1.6rem 3.2rem;
    letter-spacing: 1.2px;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn-search {

}
.btn-add{
    width: 50%;
    text-align: center;
}