.card {
    display: grid;
    grid-template-rows: 20rem 15rem;
    border-radius: 12px;
    max-width: 30rem;
    box-shadow: 0 12px 24px rgba(0,0,0,0.20);
    row-gap: 1.6rem;
}
.card-description{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0 2.4rem;
}
.card-title{
    font-size: 1.8rem;
    font-weight: 500;
    color: #07223a;
}
.card-tag{
    font-size: 1.2rem;
    border-radius: 16px;
    background-color: #1971c2;
    padding: 0.8rem 1.6rem;
}
.card-tags{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    padding: 1.4rem 0;
}